* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
 
body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: inter, sans-serif;
    line-height: 160%; /*muda o espaço entre as linhas. */
}   /* Se o navegador não encontrar a primeira fonte, irá exibir a segunda (não serifada, sem os tracinhos nas terminações)*/

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    
    display: flex;
    padding: 4px;

    border-radius: 50%;

    transition: transform .3s;

}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;

    border-radius: 50%;
}

main {
    max-width: 580px; /*largura máxima para o main. Ele é o pai. Tudo o que está dentro vai se esforçar para respeitar os limites dele (sections). */
    width: 90%; /*largura do main relativo ao tamanho da tela. O quanto vai ocupar quando menor que 580px*/

    margin: 32px auto; /*faz o cálculo das margens, e as deixa simétricas*/

    display: grid;
    gap: 24px;

    /*margem de cima área dando um espaço maior do topo*/
    /*margin-top: 32px; já colocado lá em cima*/
}

section {
    color: white;
    /*padding: 32px;
    padding-top: 24px; */
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px; /*deve aparecer essa bora acima da outrta caixa (div)*/
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
        /*font-weight: 900;
        font-size: 24px;
        line-height: 160%; -- configurações iguais às do navegador*/
    letter-spacing: -0.47px;
}

section p {
    /*font-weight: 400;
    font-size: 16px;
    line-height: 160%;
     -- mesma questão da anterior*/

    letter-spacing: -0.18px; /*diferença ínfima, mas cada detalhe importa como na anterior*/

    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 24px; 
    /*Lá em cima, no section, coloquei o padding e padding top. Deu o mesmo resultado. Pq?
    O section representa o fuindo colorido. o div fica na frente. a config. precisa ser feita na div*/
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.games-list img {
    width: 90px; /*a altura vai acompanhando a largura*/
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;

    border: 1px solid #443e54;
}

/*Animation section */
header div {
    animation: fromTop .7s .1s backwards;
/*nome da animation, tempo da animação, delay para ela começar, e como a animação deve ser feita (from - to) acompanhar o delay.*/
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: .1s;

}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    /*deve começar de cima e parar na sua posição original
    opacity: ela começa escura, depois clareia*/
}

@keyframes fromBottom {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}